<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374661351492-hcjkkngvld1m7o3a7bg57hg3pbav1l8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374661351492-hcjkkngvld1m7o3a7bg57hg3pbav1l8k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>374661351492-sarmjf31lgq15ulfno0prspdbcu2t19t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCr2K0nL23icDATUBEmxCAvvpRctenE5bE</string>
	<key>GCM_SENDER_ID</key>
	<string>374661351492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appGo</string>
	<key>PROJECT_ID</key>
	<string>phone-go-974a1</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-go-974a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374661351492:ios:440fb9eb4cfb162f801411</string>
</dict>
</plist>